.ds__line{
    max-width: 1340px;
    margin: 0 auto;
    padding: 0 16px;
    height: 404px;
    overflow: hidden;
}
.ds__title{
    height: 404px;
    margin: 0 auto;
    background-color: #9AA8B1;
    text-align: center;
    overflow: hidden;
    
    .ds__logo{
        padding-top: 120px;
    }

    h2{
        font-size: 43px;
        font-family: "Roboot"sans-serif;
        font-weight: 400;
        line-height: 58px;
        color: #FFFFFF;
    }
    p{
        font-size: 14px;
        color: #FFFFFF;
        font-family: "Roboot"sans-serif;
        font-weight: 400;
        line-height: 24px;
    }
}