header{
    max-width: 1470px;
    margin: 0 auto;
    padding: 0 16px;
    overflow: hidden;
}
.navbar{
    height: 75px;
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    list-style: none;

    a{
        text-decoration: none;
        color: #000;
        font-size: 13px;
        font-family: "Roboto"sans-serif;
        font-weight: 400;
        margin-right: 30px;
    }
}
.navbar__collection{
    display: flex;
    gap: 0 25px;
    list-style: none;
    
    a{
        text-decoration: none;
        color: #000;
        font-size: 13px;
        font-family: "Roboto"sans-serif;
        font-weight: 400;
    }

}
.navbar__logo{
    display: flex;
    justify-items: center;
    align-items: center;
}
@media (max-width:800px) {
    .navbar__logo{
        display: none;
    }
}
@media (max-width:443px){
    .navbar__collection{
        a{
            font-size: 10px;
        }
    }
    .navbar{
        a{
            font-size: 10px;
        }
    }
    
}