.mk__list{
    max-width: 1052px;
    height: 592px;
    margin:  0 auto;

}
.mk__img{
    display: flex;
    margin: 0 auto;
    padding: 0 16px;
    overflow: hidden;

    img{
        width: auto;
    }
}