.title__list{
    margin: 0 auto;
    padding: 0 16px;
    max-width: 1286.39px;
    height: 69.59px;
    

}
.title{
    text-align: center;

    h2{
        font-family: "Roboto" sans-serif;
        font-weight: 400;
        color: #000;
        font-size: 43px;
    }
    p{
        color: #A0A0A0;
        font-family: "Roboto" sans-serif;
        font-weight: 400;
        font-size: 14px;
    }
}